<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">Başlık</th>
      <th scope="col">Açıklama</th>
      <th scope="col">Aktif mi?</th>
      <th scope="col">Oluşturulma Tarihi</th>
      <th scope="col">İşlemler</th>
    </tr>
  </thead>
  <tbody>
     {% for todo in todos %}
        <tr>
            <th scope="row">{{ todo.id }}</th>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.is_active|yesno:"Aktif,Pasif" }}</td>
            <td>{{ todo.created_at|date:"D d M Y" }}</td>
            <td>
                <a href="#" class='btn btn-warning btn-sm' >Düzenle</a>
                <a href="#" class='btn btn-danger btn-sm'>Sil</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6" class="text-center">Todo Bulunamadı</td>
        </tr>
    {% endfor %}
  </tbody>
</table>